<div class="main-page-content">

<h2>
  Subscribe to receive positivity via SMS
</h2>
<h3>
  A positive text message will be sent daily to your phone. Text STOP at
  any time to opt out.
</h3>
<%= render partial:"subscriptions/new"%>
</div>
