<%= stylesheet_link_tag "shared_messages", media: "all" %>
<div class="main-page-content">
  <div class="subscription-success">
    <h2>
    Success! Positivity is coming your way soon.
    </h2>
  </div>
</div>
