
@import "bootstrap";
@import "bootstrap-responsive";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.positivity-application {
  height: 100%;
  width: 100%;
  background-image: url('Peas.png');
  background-repeat: repeat;
  font-family: "Bakersville";
  font-weight: normal;
  font-size: 16px;
}

.title-banner {
  background-image: url('imagine_whirled_peas_banner.png');
  background-repeat: no-repeat;
  max-width: 800px;
  background-position: center;
  background-size: 100%;
  margin: auto;
  margin-top: 50px;
  margin-right: 20px;
}

@media (max-width: 600px) {
  .title-banner {
    background-image: url('banner_narrow.png');
    max-width: 500px;
  }
}

@media (max-width: 415px) {
  .title-banner {
    background-image: url('banner_narrow.png');
    max-width: 400px;
  }
}


.h2 {
  padding: 0 10px;
}
.h3 {

}

.main-page {
  position: relative;
  top: 280px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.new-subscription, .subscription-update {
  position: relative;
  top: 20px;
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subscription-success {
  position: relative;
  top: 280px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.new-subscription-form-field {
  margin: 10px auto;
}

input:focus {
    outline:none;
}

.new-subscription-form-field input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 20px;
  font-size: 18px;
}

.new-subscription-form-field input[type=submit] {
  border: none;
  margin-left: 0;
  margin-top: 20px;
  border-radius: 2px
}

.new-subscription-form-field input#subscription_name {
  width: 100%;
}

.new-subscription-telephone-input {
  height: 30px;
  margin-top: 20px
}

.new-subscription-telephone-input p#plus{
  width: 10px;
  float: left;
  margin: 0;
}

.new-subscription-telephone-input input#subscription_phone_number_country_code{
  width: 20px;
  float: left;
  margin: 0 2px;
}

.new-subscription-telephone-input input#subscription_phone_number{
  width: 138px;
  float: left;
  margin: 0 4px;
  margin-right: 0;
}
