
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.positivity-application {
  height: 100%;
  width: 100%;
  background-image: url('Peas.png');
  background-repeat: repeat;
  font-family: "Bakersville";
  font-weight: normal;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.title-banner {
  background-image: url('imagine_whirled_peas_banner.png');
  background-repeat: no-repeat;
  max-width: 800px;
  max-height: 200px;
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: 100%;
  margin: auto;
  margin-top: 30px;
}

.application-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page-link-content {
  border-radius: 20px;
  border-style: solid;
  border-width: 4px;
  border-color: #99D3A4;
  padding: 30px;
  max-width: 420px;
  background: white;
  margin: 15px;
  font-size: 20px;
}

.main-page-content {
  display: flex;
  position: relative;
  top: 20px;
  width: 500px;
  /*height: 260px;*/
  height: 100%;
  background-color: white;
  border-radius: 20px;
  border-style: solid;
  border-width: 4px;
  border-color: #99D3A4;
  margin: auto;
  padding: 40px;
  align-items: center;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

@media (max-width: 855px) {
  .title-banner {
    margin-right: 20px;
  }

  .main-content {
    max-width: 400px;
    height: 300px;
  }
}

@media (max-width: 600px) {
  .title-banner {
    background-image: url('banner_narrow.png');
    max-width: 500px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .main-content {
    max-width: 300px;
    height: 340px;
  }
}

@media (max-width: 415px) {
  .title-banner {
    background-image: url('banner_narrow.png');
    max-width: 400px;
    margin-right: 20px;
    margin-left: 0;
  }

  .main-content {
    max-width: 200px;
  }
}


h2 {
  padding: 0 10px;
  font-size: 1.5rem;
}
h3 {
  padding: 0 10px;
  font-size: 1.1rem;
  font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
  }

.new-subscription, .subscription-update {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription-unsubscribe {
  display: flex;
    align-content: center;
    flex-direction: column;
}

.subscription-success {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.new-subscription-form-field {
  margin: 10px auto;
}

input:focus {
    outline:none;
}

input {
    outline:none;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
}

.new-subscription-form-field input {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 18px;
}

input[type=submit] {
  border: none;
  margin-right: 0;
  margin-top: 0;
  border-radius: 2px;
  font-size: 16px;
  float: right;
}

.new-subscription-form-field-submit {
  margin-right: 0;
}

.new-subscription-form-field input#subscription_name {
  width: 100%;
}

.new-subscription-telephone-input {
  height: 30px;
  margin-top: 20px
}

#plus {
  width: 10px;
  float: left;
  margin: 0;
}

#phone_number_country_code{
  width: 20px;
  float: left;
  margin: 0 2px;
  font-size: 16px;
}

#phone_number{
  width: 138px;
  float: left;
  margin: 0 4px;
  margin-right: 0;
  font-size: 16px;
}

.new-subscription-telephone-input input#subscription_phone_number_country_code{
  width: 20px;
  float: left;
  margin: 0 2px;
}

.new-subscription-telephone-input input#subscription_phone_number{
  width: 138px;
  float: left;
  margin: 0 4px;
  margin-right: 0;
}

.phone-number-input {
  display: flex;
  height: 100%;
}

.new-shared-message-form {
  display: flex;
  flex-direction: column;
}

.new-shared-message-form-input {
  max-width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.new-shared-message-form-message-option {
  display: flex;
  padding-top: 10px;
}

.shared-message-text {
  padding-left: 10px;
}

#shared-message-recipient-label {
  margin-bottom: 10px;
}

#shared_message_sender_name {
  font-size: 16px;
}

input[type=radio] {
  height: 20px;
  width: 20px;
  margin: 0;
}
