.new-shared-message-form {
  display: flex;
  flex-direction: column;
}

.new-shared-message-form-input {
  max-width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.new-shared-message-form-message-option {
  display: flex;
  padding-top: 10px;
}

.shared-message-text {
  padding-left: 10px;
}

#shared-message-recipient-label {
  margin-bottom: 10px;
}

#shared_message_sender_name {
  font-size: 16px;
}
