.new-subscription-telephone-input input#subscription_phone_number_country_code{
  width: 20px;
  float: left;
  margin: 0 2px;
}

.new-subscription-telephone-input input#subscription_phone_number{
  width: 138px;
  float: left;
  margin: 0 4px;
  margin-right: 0;
}

.new-subscription-form-field-submit {
  margin-right: 0;
}

.new-subscription-form-field input#subscription_name {
  width: 100%;
}

.new-subscription-telephone-input {
  height: 30px;
  margin-top: 20px
}

.new-subscription-form-field input {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 18px;
}

.subscription-unsubscribe {
  display: flex;
    align-content: center;
    flex-direction: column;
}

.subscription-success {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.new-subscription-form-field {
  margin: 10px auto;
}

.new-subscription, .subscription-update {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
